body {
    background-image: url('moon.jpg'); /* Stien til dit billede */
    background-size: cover; /* Skaler billedet, så det dækker hele baggrundens område */
    background-position: center; /* Centrer billedet på baggrunden */
    background-attachment: fixed; /* Gør baggrundsbilledet fast, så det ikke scroller med indholdet */
}

.login-box-fluid {
    padding: 8px;
    margin: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(5px);
    /*background-color: rgba(0, 0, 0, 0.7);*/
    border-radius: 10px;
    border: 0;
    height: 100vh;
    display: flex; /* Gør containeren til en flekscontainer */
    justify-content: center; /* Centrerer indholdet vandret */
    align-items: center; /* Centrerer indholdet lodret */
    flex-direction: column;
}

button {
    background-color: #000000;   
        color:#ccc;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer; 
        border-radius: 20px;
        box-sizing: border-box;
}

  

input[type=text], input[type=password] {   
    background-color: #000;  
    color: #ccc;
    font-weight: bold;
    margin: 8px 0;  
    padding: 12px 20px;   
    border: 1px solid rgb(0, 179, 255);
    border-radius: 20px;   
    box-sizing: border-box;   
} 

input:hover {   
    border: 2px solid rgb(0, 179, 255); 
    transform: scale(1.1);
    margin: 6px;
    margin-top: 7px;
} 

button:hover {   
    border: 2px solid rgb(0, 179, 255); 
    transform: scale(1.1);
    margin: 8px;
} 


.rover-name {
    color: #ffffff;
    font-size: 24px;
    padding: 8px;
    margin: 8px;
}

.login-box-fluid img {
    height: 200px;
    /* put value of image height as your need */
    float: left;
    margin: 8px;
  }

  @keyframes driveIn {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0);
    }
  }

  .rover-img {
    animation: driveIn 1s ease-in;
  }

  .rover-img:hover img {
    transform: scale(1.1); /* Increase size on hover */
}
