body {
    font-size: 16px;
    color: fff;
    background: rgb(0, 0, 0);
    /*background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(0, 10, 20) 49%, rgb(0, 10, 30) 100%);*/
    font-family: Oxygen;
    margin: 4px;
    overflow: hidden;

}

/*HEADER */
#header-nav {
    border: 0;
    margin-top: 4px;
    margin-bottom: 4px;
    margin-right: 12px;
    margin-left: 12px;
    padding: 0px;
    
}

#logo-img {
    background: url('logo-img.jpg');
    background-size: cover;
    width: 50px;
    height: 50px;
    margin: 8px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.navbar-brand h1 {
    color: #ffffff;
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    padding: 4px;
    margin: 0;
    margin-left: 8px;
    line-height: .75;
    text-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p {
    color: #000;
    text-transform: uppercase;
    font-size: .7 em;
    margin-top: 0px;
}
.navbar-brand p span {
    vertical-align: middle;
}

.navbar-header button.navbar-toggle, .navbar-header .icon {
    border: solid #000;
    color: #000;
}

#nav-list {
    margin-top: 0px;
}

#nav-list a {
    text-align: center;
}

#nav-list a:hover {
    background: #000000;
    opacity: 50%;
}

#nav-list a span {
    font-size: 1em;
}

.card {
    border: 0;
    height: 100vh;
    border: 0;
    padding: 0px;
    background-repeat: no-repeat;
}


.container-fluid {
    margin: 8px;
    padding: 8px;
    background-color: transparent;
}

.row-container-fluid {
    margin: 8px;
    padding: 8px;
    background-color: #000;
}

#row {
    margin: 0px;
}

.col-xs-3 {
    padding: 0px;
}

.col-xs-6 {
    padding: 0px;
}

.left {
    margin: 8px;
    padding: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 85vh;
}


.upper {
    margin: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100px; /* Set height to the desired value */
}

.upper-frames {
    display: flex;
    gap: 10px; /* Adjust the gap between iframes as needed */
    justify-content: left;
    align-items: center;
    margin: 8px;
    overflow: hidden;
}

.upper-frames video {
    width: 80%; /* Set width to the desired value */
    height: 80px; /* Set height to the desired value */
    border-radius: 10px; /* Add rounded corners to iframes */
}

.middle-frame {
    margin: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflow content */
}

.middle-frame video {
    width: 100%;
    height: 100%;
}

.bottom {
    margin: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 218px;
}

.right {
    margin: 8px;
    padding: 8px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    height: 85vh;
}

.navbar-brand img {
    height: 24px;
    /* put value of image height as your need */
    float: left;
    margin-right: 7px;
  }

  .btn-secondary {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(0, 179, 255);
    width: 100%;
  }

  .dropdown-menu {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100%;
  }
  
  .dropdown-item {
    color:#ffffff;
  }

/*Start button*/
.start {
    background: linear-gradient(135deg, rgb(230, 247, 255), rgb(0, 179, 255));
    display: inline-block;
}
.stop {
    background: linear-gradient(135deg, rgb(135, 135, 135), rgb(34, 34, 34));
    display: none;
}

/* TIMER */

.timer {
    font-size: 24px;
  }

.start, .stop {
    font-weight: bold;
    padding: 8px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    width: 100%; /* Fills the width of the container */
    font-size: 1.5em; /* Makes the font size twice as big */
  }

  .timer, .start, .stop, #mission {
    margin: 10px auto; /* Adjust the margin as needed */
    color: white;
    text-transform: uppercase;
}

#mission {
    color: rgb(0, 179, 255);
}

/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(8px); /* Apply blur effect */
}

.modal-content {
    background-color: #000;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgb(0, 179, 255);
    width: 50%;
    text-align: center;
    color: white;
}

/* Dropdown */
.dropdown {
    margin-bottom: 10px;
}

/* Button */
.mission-button {
    padding: 8px;
    display: block;
    margin: 10px auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(0, 179, 255);
    display: inline-block;
    width: 30%; /* Adjust the width as needed */
}

#timer {
    width: 225px;          /* Adjust the width */
    height: 225px;         /* Adjust the height to match width for a perfect circle */
    border-radius: 50%;    /* Make the div a circle */
    background: #000000;   /* Background color of the circle */
    border: 5px solid rgb(0, 179, 255); /* Border of the circle */
    display: flex;         /* Use flexbox to center the text */
    justify-content: center; /* Horizontally center the text */
    align-items: center;   /* Vertically center the text */
    font-size: 26px;       /* Font size of the timer text */
    font-family: 'Courier New', Courier, monospace; /* Monospaced font family */
    color: #ffffffa6;           /* Text color */
    margin: 20px auto;     /* Center the circle horizontally on the page */
    text-align: center;     /* Center the text */
    position:relative;
    transition: border 0.1s linear;
}

.box {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    margin-top: 16px;
    color: rgb(0, 179, 255);
    font-size: 1em;
    margin-bottom: 10px;
    border-bottom: 2px solid #ffffff71;
    padding-bottom: 5px;
    font-weight: bold;
}

.text {
    color: white;
    font-size: 2em;
    flex-grow: 1;
}

.val {
    color: white;
    font-size: 0.75em;
}

#savedTimesContainer {
    color: white;
    text-transform: uppercase;
}



